/* global css*/

* {
   margin: 0;
 }

 :root {
   --main-tabcontent-text-shadow : 2px 2px #640074;
   --main-text-color : #FFFFFF;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }
 .wrapper > * {
   padding: 20px;
 }

 body {
   background:#D9D9D9;

 }

 .mainpage {
  display: flex;
  flex-grow: 1;
}

.heading  {
  text-shadow: 2px 2px white;
  color: #640074;
  width: 20vw;
  font-weight: bold;
  font-size: 2vw;
  margin-left: 2vw;;
}

body a {
  text-decoration: none;
}

/*body p {
  width: 10vw;
  text-align: center;
  font-weight:bold;
  background:#7245AC;
  height:fit-content;
  font-size: .8vw;
  color:#FFFFFF
  
 }
 */

 .footer img {
  width: 1.5vw;
  height: 1.5vw;
}

.footer {
  display: flex;
  background:black;
  color : var(--main-text-color);
  font-size: 1vw;
}


.emailfooter {
  display: inline-block;
  position: relative;
  left : 0%;
  margin:.2vw
}

.callfooter {
  display: inline-block;
  position: relative;
  left : 5%;
  margin:.2vw
}

.linkedinfooter {
  display: inline-block;
  position:relative;
  left : 6%;
}

.githubfooter {
  display: inline-block;
  position:relative;
  left : 12%;
}

/* end of global css code  */

/*  index page css */
.mainpageheader nav {
   display: flex;
   justify-content: end;
}

.mainpageheader a {
   margin: 0 4vw;
   font-size: 2vw;
   text-decoration:none;
   text-shadow: var(--main-tabcontent-text-shadow);
   color : var(--main-text-color);
   font-weight: bold;

}

 .mainpageindex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-grow: 1;
 }

 .mainpageindex p {
  margin-inline-end: 8%;
  font-size: 5.5vw;
  width:fit-content;
  text-shadow:var(--main-tabcontent-text-shadow);
  color : var(--main-text-color);
  background:transparent;
  font-weight:bold;
 }

 


#homepage{
   background-image: url(MOSHED-2023-9-14-11-32-20.gif);
   background-repeat: no-repeat;
   background-size:100% 100%;

} 



/* end of index page code  */

/* header code that runs across all pages of the website except the index page  */
.pageheader {
   background-image: url(tumblr_o0qppfgN9i1txt22yo1_500.webp);
   background-size:cover;
 
}

.pageheader nav {
   display: flex;
   justify-content:end;
}

.pageheader a {
   margin: 0 4vw;
   font-size: 2vw;
   text-decoration:none;
   text-shadow: var(--main-tabcontent-text-shadow);
   color : var(--main-text-color);
   font-weight: bold;

}

/* end of header code that runs across all pages of the website except the index page  */



/* blog page css  */

.mainpageblog {
  display:flex;
  flex:1;
  background:green;
  flex-direction: column;

}
.headingboxblog {
  display:flex;
  border-style: solid;
  justify-content:center;
  align-items: center;
  background:pink;
  text-shadow: 2px 2px white;
  color: #640074;
  font-weight: bold;
  font-size: 1.5vw;
  flex:8;
}

.contentboxblog {
  display:flex;
  flex-direction:column;
  flex:1;
  border-style: solid;
  background:yellow;
  flex-wrap: wrap;
}

.contentboxblog img {
  width:300px;
  height:300px;
}

.contentboxblog p {
  display:flex;
  justify-content: center;
  background:orange;
}

.contentboxblog a {
  text-shadow: 2px 2px white;
  color: #640074;
  font-size:1.5vw
}

.topblog {
  display:flex;
  justify-content: space-evenly;
  flex:1;
  border-style: solid;
}

.bottomblog {
  display:flex;
  justify-content: space-evenly;
  flex:1;
  
}

.blogandheading {
  display:flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
}

@media screen and (max-width: 966px) {
  .contentboxblog {
    background:red;
  }

  .contentboxblog img {
    width:250px;
    height:250px;
  }

  .headingboxblog {
    font-size:2vw
  }
}

@media screen and (max-width: 816px) {

  .contentboxblog {
    background:PURPLE;
  }

  .contentboxblog img {
    width:230px;
    height:260px;
  }

  .headingboxblog {
    flex:1;
  }

  .headingboxblog {
    font-size:2vw
  }
}

@media screen and (max-width: 756px) {

  .contentboxblog {
    background:brown;
  }

  .headingboxblog {
    font-size: 3vw;
  }

  .topblog {
    display:flex;
    flex-direction:column
  }

  .bottomblog {
    display:flex;
    flex-direction:column
   }

   .contentboxblog p {
    font-size:3vw
  }

}

@media screen and (max-width: 424px) {
  .contentboxblog {
    background:blue;
  }

  .headingboxblog {
    font-size: 4vw;
  }

  .topblog {
    display:flex;
    flex-direction:column
  }

  .bottomblog {
    display:flex;
    flex-direction:column
   }

   .contentboxblog p {
    font-size:4.5vw
  }


}


/* end of blog page */


/* project page css */

.mainpageprojects {
  flex: 1;
  display: flex;
}

.box {
  flex:1;
  display:flex;
  flex-direction:column;
}

.headingboxprojects {
  display:flex;
  flex:1;
  justify-content:center;
  align-items: center;
  background:pink;
  text-shadow: 2px 2px white;
  color: #640074;
  font-weight: bold;
  font-size: 1.5vw;
}

.contentboxproject {
  display:flex;
  flex:7;
  background:red;
  flex-wrap:wrap;
}

.introbox {
  display:flex;
  align-items: center;
  flex-direction:column;
  flex:1;
  background:blue;
}

.introbox img {
  flex:5;
  border-style: solid;
  border-radius: 50%;
  width:300px;
}

.introbox p {
  display:flex;
  justify-content:center;
  align-items: center;
  flex:5;
  border-style: solid;
  width:fit-content;
  height:fit-content;
  font-size:1.3vw;
  margin-left:10vw;
  margin-right:10vw;
  background:red;
}

.projectsbox {
  display:flex;
  flex-direction:column;
  flex:1;
  background:orange;
}

.projectboxtop {
  margin:2vw;
  display:flex;
  justify-content: space-between;
  flex:1;
  border-style: solid;
  background:red;
}

.projectboxbottom {
  display:flex;
  justify-content: space-between;
  margin:2vw;
  flex:1;
  border-style: solid;
  background:pink;
}

.topleft {
  display:flex;
  text-align: center;
  flex-direction: column;
  flex:1;
  border-style: solid;
}

.topright {
  display:flex;
  text-align: center;
  flex-direction: column;
  flex:1;
  border-style: solid;
}

.bottomleft {
  display:flex;
  text-align: center;
  flex-direction: column;
  flex:1;
  border-style: solid;
}

.bottomright {
  display:flex;
  text-align: center;
  flex-direction: column;
  flex:1;
  border-style: solid;
}


.projectboxtop h1, h2, h3, h4 {
  background:yellow;
  font-size:1vw;
}

@media screen and (max-width: 800px) {
  .contentboxproject {
    flex-direction: column;
  }

  .headingboxprojects {
    font-size: 3.5vw;
  }
.introbox p {
  font-size:2.5vw;
}

.projectboxtop h1, h2, h3, h4 {
  font-size:2.5vw;
}

.introbox {
  margin: 1.5vw;
}
.introbox p {
margin-top: 1.5vw;
margin:0vw;
}

.introbox img {
  width:250px;
}

}

@media screen and (max-width: 425px) {

  .headingboxprojects {
    font-size: 4vw;
  }

  .introbox p {
    font-size:3.5vw;
  }

  .projectsbox {
    background:blue;
  }

  .projectboxtop {
    flex-direction: column;
    
  }
  
  .projectboxbottom {
    flex-direction: column;
  }

  .projectboxtop h1, h2, h3, h4 {
    font-size:3.5vw;
  }

  .projectsbox img {
    height:50vw;
    width:50vw
  }
}

/* end of project page */



/* about page css  */
.mainpageabout {
  flex: 1;
  display: flex;
  flex-direction: column;

}

#headingabout {
  display: flex;
  justify-content: center;
  align-items: center;
  background:pink;
  text-shadow: 2px 2px white;
  color: #640074;
  font-weight: bold;
  font-size: 3.5vw;
  flex:1;
}


.personalbox {
  display: flex;
  flex:2;
  background:yellow;
  flex-wrap: wrap;
}

.personalleft {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.imagegbox {
  flex:7;
  display: flex;
  justify-content: center;
  align-items:center ;
}


.personalright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  background:brown;
}

.personalright p {
  flex:2;
  font-size:2vw;
  height: fit-content;
  width: fit-content;
  margin: 2vw;
}

.perfonsalleftmainpicture {
  flex:10;
  height: 500px;
  width: 400px;
  margin: 2vw;
  margin-bottom: 0vw;
}

.personalleft a {
  font-size: 1.2vw;
  text-shadow: 2px 2px white;
  color: #640074;
  font-weight: bold;
}

.resumebox {
  flex:1;
  display:flex;
  background:green;
}

#resumelogo {
  display:flex;
  margin-inline-start: 2vw;
  background:orange;
  width:50px;
  height:40px;
}

.resumebox p {
  display:flex;
  background:brown;
  margin-bottom: 1vw;
  margin-left:2vw;
  text-shadow: 2px 2px white;
  color: #640074;
  font-weight: bold;
  font-size:1.5vw;
}



.professionalbox {
  display:flex;
  background:blue;
  flex:3;
}



.professionalleft {
  background:purple;
  flex:1;
  border-style: solid;
  
}

.professionalright {
  border-style: solid;
  background:orange;
  flex:1;
}

.professionalarticleheading {
  display:flex;
  justify-content: center;
  background:blue;
  font-size:3vw;
  border-style: solid;
}

.professionalbox p {
  border-style: solid;
  font-size:1.3vw;
  display:flex;
  justify-content: center;
  margin-top: 1vw;
}

.professionalleft p {
  width:100%;
}

.professionalright p {
  background:yellow;
  width: 100%;

}



@media screen and (max-width: 1449px) and (min-width: 700px) {
  
  .personalbox {
    background:orange;
  }


  #headingabout {
    font-size: 5.5vw;
  }

  .perfonsalleftmainpicture {
    height: 450px;
    width: 350px;
  }

  #resumelogo {
    width:40px;
    height:40px;
  }

  .resumebox p {
    font-size:2vw;
  }

  .personalright p {
    font-size:2.5vw;
  }
  

  .professionalbox {
    flex:1;
  }
  
  .professionalarticleheading {
    font-size:5.5vw;
  }

  .professionalbox p {
    font-size:2.5vw;
  }
}

@media (max-width: 700px) {
  .personalbox {
    flex-direction: column;
    background:pink
  }

  .perfonsalleftmainpicture {
    height: 460px;
    width: 400px;
  }

  #headingabout {
    font-size: 7vw;
  }

  .personalright p {
    font-size:3vw;
  }

  .resumebox p {
    font-size:2vw;
  }
  
  .professionalarticleheading {
    font-size:6vw;
  }

  .professionalbox p {
    font-size:3vw;
  }

  .professionalbox {
    flex-direction: column;
  }

}

  @media screen and (max-width: 453px) and (min-width: 320px) {
    .personalbox {
      background:green;
      flex:13;
    }

    #headingabout {
      font-size: 8vw;
    }
  
  
    .perfonsalleftmainpicture {
      height: 400px;
      width: 200px;
    }
  
    #resumelogo {
      width:30px;
      height:20px;
    }  
  
    .professionalarticleheading {
      font-size:6vw;
    }
  
    .professionalbox p {
      font-size:3.5vw;
    }

    .personalright p {
      font-size:4vw;
    }

    .professionalbox {
      flex-direction: column;
    }

  }

/* end about page css  */