:root {
   --main-tabcontent-text-shadow : 2px 2px #640074;
   --main-text-color : #FFFFFF;
}

html {
   height: 100%;
   
}

html, body {
   margin: 0%;
   padding: 0%;
} 

.hometabcontent { 
   position:fixed;
   left : 70%;
   padding: 1%;
   color: var(--main-text-color);
   text-shadow: var(--main-tabcontent-text-shadow);
} 

.homename {
   color: var(--main-text-color);
   text-shadow: var(--main-tabcontent-text-shadow);
   font-size: 230%;
   position:absolute;
   left : 60%;
   bottom: 40%;

}

body{
   background-image: url(MOSHED-2023-9-14-11-32-20.gif);
   background-repeat: no-repeat;
   background-size: 100% 100%

}


.footer {
   position:fixed;
   color : var(--main-text-color);
   bottom:0;
   background-color:black;
   padding: 2%;
   font-size:100%;
   width:100%;
}

img {
   width:2%;
   height:3%;
}

.callfooter {
   display: inline-block;
   position:relative;
   left : 5%;
}

.githubfooter {
   display: inline-block;
   position:relative;
   left : 10%;
}

.linkedinfooter {
   display: inline-block;
   position:relative;
   left : 15%;
}